<div class="ui-fluid">
  <div class="card ui-g">
    <div class="ui-g-12">
      <h1>Lista de selección</h1>
      <form  (ngSubmit)="saveChanges()">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <p-dropdown [options]="recordSelect" [(ngModel)]="selectedRecord" name="first"></p-dropdown>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-2">
            <button type="button" pButton icon="pi pi-times" (click)="goSchema()" label="Cancelar"></button>
          </div>
          <div class="ui-g-2">
            <button type="submit" pButton icon="pi pi-check" label="Guardar"></button>
          </div>  
        </div>
      </form>
    </div>  
  </div>    
</div>
