/* You can add global styles to this file, and also import other style files */

.ng-valid[required], .ng-valid.required  {
  border-color: #48c774; /* green */
}

.ng-invalid  {
  border-color: #f14668; /* red */
}

.ng-untouched{
  border-color: #b5b5b5; /* grey */
}
